:root {
  font-size: 16px;
  font-family: 'Open Sans';
    --transition-speed: 450ms;
}

body{
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #5B6463 10%, #A2C5CF) ;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  background: #A2C5CF;
}

body::-webkit-scrollbar-thumb {
  background:  #707cc8;
}

.logo-container{
  width: 100%;
  background: linear-gradient(90deg, #5B6463 10%, #bc6e64) ;
  margin-top: 0px;
}

.logo-header {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;

  background: linear-gradient(to right, #ad1027 20%, #e1aead 40%, #e1aead 60%, #ad1027 80%);
  background-size: 175% auto;

  color: var(--text-secondary);
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #ad1027), color-stop(40%, #e1aead), color-stop(60%, #e1aead), color-stop(80%, #ad1027));
  background: linear-gradient(to right, #ad1027 20%, #e1aead 40%, #e1aead 60%, #ad1027 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 5s linear infinite;
          animation: shine 5s linear infinite;
}
@-webkit-keyframes shine {
  to {
    background-position: 200% center;
  }
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.logo-header {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 1rem;
	color: var(--text-secondary);
	font-size: 2rem;
	letter-spacing: 0.3ch;
	text-align: center;
  text-shadow: 1px;
}

.master-container{
  width: 50%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.album-title{
  color: #707cc8;
  border-style: solid;
  border-color: #304e66;
  border-width: 0.5rem;
  background: #A2C5CF;
  justify-content: center;
  text-align: center;
  padding-bottom: 3px;
}

.album-container{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.album-art {
  display: block;
  border-style: solid;
  border-color: #304e66;
  border-width: 1rem;
  width: calc(100% - 2rem);
  height: auto;
}

.player-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
  max-width: 727.500px;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.player-button {
  list-style: none;
  align-items: center;
  background: #A2C5CF;
  margin-right: 2rem;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  border-color: #304e66;
  border-width: 0.5rem;
  border-style: solid;
  text-decoration: none;
}

.player-button:hover {
  list-style: none;
  align-items: center;
  margin-right: 2rem;
  background: #304e66;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
  border-color: #304e66;
  border-width: 0.5rem;
  border-style: solid;
}

.fa-primary{
  color: #707cc8;
}

.fa-secondary{
  color: #565A72;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.spectrograph-container {
  background: #A2C5CF;
  width: 100%;
  border-color: #304e66;
  border-width: 0.5rem;
  border-style: solid;
}

.spectrograph {
  color: #707cc8;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 3rem;
  overflow: hidden;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='spectrograph' x='0' y='0' width='6px' height='4px' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='2px' width='6px' height='2px' fill='%23000'/%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23spectrograph)'%3E%3C/rect%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='spectrograph' x='0' y='0' width='6px' height='4px' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='2px' width='6px' height='2px' fill='%23000'/%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23spectrograph)'%3E%3C/rect%3E%3C/svg%3E");
}
.spectrograph__bar {
  margin: 0 1px 0 0;
  flex: 0 0 0.75rem;
  height: 100%;
  background: currentColor;
  transform: translateY(100%);
  transform-origin: center bottom;
  -webkit-animation: animation 1.5s steps(5, start) infinite alternate;
          animation: animation 1.5s steps(5, start) infinite alternate;
  will-change: transform;
}

.spectrograph__bar:nth-child(1) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
}
.spectrograph__bar:nth-child(2) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(3) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(4) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
}
.spectrograph__bar:nth-child(5) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(6) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
}
.spectrograph__bar:nth-child(7) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(8) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
}
.spectrograph__bar:nth-child(9) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(10) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
}
.spectrograph__bar:nth-child(11) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
}
.spectrograph__bar:nth-child(12) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(13) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
}
.spectrograph__bar:nth-child(14) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(15) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
}
.spectrograph__bar:nth-child(16) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
}
.spectrograph__bar:nth-child(17) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 850ms;
          animation-delay: 850ms;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
}
.spectrograph__bar:nth-child(18) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(19) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 950ms;
          animation-delay: 950ms;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
}
.spectrograph__bar:nth-child(20) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(21) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
}
.spectrograph__bar:nth-child(22) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(23) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(24) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
}
.spectrograph__bar:nth-child(25) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(26) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
}
.spectrograph__bar:nth-child(27) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(28) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
}
.spectrograph__bar:nth-child(29) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(30) {
  -webkit-animation-name: animation3;
          animation-name: animation3;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
}
.spectrograph__bar:nth-child(31) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
}
.spectrograph__bar:nth-child(32) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(33) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
}
.spectrograph__bar:nth-child(34) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(35) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
}
.spectrograph__bar:nth-child(36) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
}
.spectrograph__bar:nth-child(37) {
  -webkit-animation-name: animation1;
          animation-name: animation1;
  -webkit-animation-delay: 850ms;
          animation-delay: 850ms;
  -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
}
.spectrograph__bar:nth-child(38) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:nth-child(39) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 950ms;
          animation-delay: 950ms;
  -webkit-animation-duration: 1700ms;
          animation-duration: 1700ms;
}
.spectrograph__bar:nth-child(40) {
  -webkit-animation-name: animation2;
          animation-name: animation2;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-duration: 1600ms;
          animation-duration: 1600ms;
}
.spectrograph__bar:last-child {
  margin: 0;
}

@-webkit-keyframes animation1 {
  0%, 5% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animation1 {
  0%, 5% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes animation2 {
  0%, 66% {
    transform: translateY(100%);
  }
  33%, 100% {
    transform: translateY(0);
  }
}
@keyframes animation2 {
  0%, 66% {
    transform: translateY(100%);
  }
  33%, 100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes animation3 {
  33%, 66% {
    transform: translateY(100%);
  }
  0%, 45%, 100% {
    transform: translateY(0);
  }
}
@keyframes animation3 {
  33%, 66% {
    transform: translateY(100%);
  }
  0%, 45%, 100% {
    transform: translateY(0);
  }
}
